<link href="~/css/login3.css" rel="stylesheet" />



<div class="container">
  
    <div class="login">
        
        <form class="shadow">
            <img src="~/images/GR_logo.png" alt="Logo" width="72" height="72" />
            <h1 class="h3 mb-3 fw-normal">Bem vindo !</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label style="font-size:14px" for="floatingInput">Usuário</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label style="font-size:14px"  for="floatingPassword">Senha:</label>
            </div>

            <div class="form-check text-start my-3">
                <input class="form-check-input" type="checkbox" value="Lembrar-me" id="flexCheckDefault">
                <label style="font-size:13px"class="form-check-label" for="flexCheckDefault">
                    Lembrar-me
                </label>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
            <a style="color: #b5b5b5; font-size: 13px;" href="esqueci-senha">Esqueceu sua senha?</a>
            <br>
            <a class="suporte" style="color: #b5b5b5; font-size: 13px;" href="https://sistema.segurocred.com.br/suporte/novo-chamado.php">
                Ajuda e suporte
            </a>
        </form>
    </div>
</div>