body {
    margin-top:15rem;
}

.login {
    
    display: grid;
    place-items: center;
}

form {
    width: 20rem;
    padding: 1rem;
    align-self: center;
    font-family: "Roboto", sans-serif;
}

img{
    margin-bottom:5px;
}

input {
    margin-top: 0px;

   
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-family: "Roboto", sans-serif;
    color: dimgray
}