<link href="~/css/login2.css" rel="stylesheet" />
<div class="content">
<form class="shadow-lg">
      <div class="content-foto">
          <div class="background-img shadow">
     <img  src="~/images/GR_logo.png" alt="Logo" width="72" height="72" />
            </div>
        </div>
   
        <h1 style="margin:2rem;" class="h3 mb-3 fw-normal">Seja bem vindo, faça o login !</h1>

    <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Usuário</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div> 

    <div class="form-check text-start my-3">
        <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Lembrar-me
        </label>
    </div>
    <button style="margin-bottom:2rem;" class="btn btn-primary w-100 py-2" type="submit">logar</button>
    
        <a style="color: #b5b5b5; font-size: 13px;" href="esqueci-senha">Esqueceu sua senha?</a>
        <br>
        <a class="suporte" style="color: #b5b5b5; font-size: 13px;" href="https://sistema.segurocred.com.br/suporte/novo-chamado.php">
            Ajuda e suporte
        </a>



</form>
</div>
