<link href="~/css/login.css" rel="stylesheet" />

<div class="login shadow">
    <div class="logoGR">
     <img class="imgGR" src="~/images/GR_logo.png" alt="Logo">
     </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Usuário</label>
             <i class="fa-solid fa-right-to-bracket"></i>
            <input type="email" class="form-control shadow input-icon" id="exampleFormControlInput1" placeholder="Usuário">
           
        </div>
        
        <div class="senha shadow">
           
            <label for="exampleFormControlInput1" class="form-label">Senha</label>
            <input type="password shadow" class="form-control input-icon" id="exampleFormControlInput1" placeholder="Senha" >
             <i class="bi bi-box-arrow-in-right"></i>
             
        </div>    

        
        <p><a class="link-opacity-75" href="#">Esqueceu a senha ? </a></p>

        <div class="d-grid gap-2" style="margin-top:2rem">
             
             <button class="btn btn-primary shadow" type="button">Acessar</button>
             <button type="button" class="btn btn-info shadow" color="white">Cadastrar</button>
        </div>

        
</div>

<div class="logo shadow-lg">
    <img src="~/images/20547283_6310505.svg" alt="Logo">
</div>
   



